<?xml version='1.0' encoding='utf-8'?>
<widget id="pusaka.absen.id" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pusaka</name>
    <description>Absen Pusaka Web</description>
    <author email="dev@cordova.apache.org" href="https://ariessoftware.my.id">
        ariessoftware Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<access origin="whatsapp:*" launch-external="yes" />
	<access origin="https://*.youtube-nocookie.com" />
	<access origin="https://*.youtube.com" />
	<preference name="AllowedSchemes" value="whatsapp,twitter,ws" />
	<preference name="AndroidInsecureFileModeEnabled" value="false" />
	<preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
	<preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
	<preference name="SplashScreenDelay" value="4000" />
	<preference name="Fullscreen" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

	<platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true"/>
        </edit-config>
    </platform>
	<preference name="loadUrlTimeoutValue" value="70000" />
	<preference name="SplashScreenDelay" value="3500" />
</widget>
